In [1]:
import pandas as pd

In [2]:
#leitura dos dados
df = pd.read_csv("https://pycourse.s3.amazonaws.com/temperature.csv")
df

         date  temperatura classification
0  2020-01-01         29.1         quente
1  2020-02-01         31.2   muito quente
2  2020-03-01         28.5         quente
3  2020-04-01         28.0         quente
4  2020-05-01         24.0    confortavel
5  2020-06-01         20.0           frio

In [3]:
df.head()

         date  temperatura classification
0  2020-01-01         29.1         quente
1  2020-02-01         31.2   muito quente
2  2020-03-01         28.5         quente
3  2020-04-01         28.0         quente
4  2020-05-01         24.0    confortavel

In [4]:
#seleção de uma coluna
df['date']

0    2020-01-01
1    2020-02-01
2    2020-03-01
3    2020-04-01
4    2020-05-01
5    2020-06-01
Name: date, dtype: object

In [5]:
#tipo
type(df['date'])

pandas.core.series.Series

In [6]:
#seleção de múltiplas colunas
df[['date', 'classification']]

         date classification
0  2020-01-01         quente
1  2020-02-01   muito quente
2  2020-03-01         quente
3  2020-04-01         quente
4  2020-05-01    confortavel
5  2020-06-01           frio

In [10]:
#indexação por índices
df.iloc[:,0]

0    2020-01-01
1    2020-02-01
2    2020-03-01
3    2020-04-01
4    2020-05-01
5    2020-06-01
Name: date, dtype: object

In [20]:
#utilizando o método loc
df.loc[:, ['temperatura']]

   temperatura
0         29.1
1         31.2
2         28.5
3         28.0
4         24.0
5         20.0

In [23]:
#verificando o tipo de dados do dataframe
df.dtypes

date               object
temperatura       float64
classification     object
dtype: object

In [24]:
#alterando a coluna date para tipo data
df['date'] = pd.to_datetime(df['date'])

In [25]:
df

        date  temperatura classification
0 2020-01-01         29.1         quente
1 2020-02-01         31.2   muito quente
2 2020-03-01         28.5         quente
3 2020-04-01         28.0         quente
4 2020-05-01         24.0    confortavel
5 2020-06-01         20.0           frio

In [26]:
df.dtypes

date              datetime64[ns]
temperatura              float64
classification            object
dtype: object

In [28]:
#alterando a coluna de index
df = df.set_index('date') #alterando a indexação para a coluna 'date'

In [29]:
#demonstrando o dataframe com  a coluna date como index
df

            temperatura classification
date
2020-01-01         29.1         quente
2020-02-01         31.2   muito quente
2020-03-01         28.5         quente
2020-04-01         28.0         quente
2020-05-01         24.0    confortavel
2020-06-01         20.0           frio

In [30]:
#indexação booleana
df[df['temperatura'] >= 25]

            temperatura classification
date
2020-01-01         29.1         quente
2020-02-01         31.2   muito quente
2020-03-01         28.5         quente
2020-04-01         28.0         quente

In [31]:
#acessando o valor referente a um índice
df[df.index <= '2020-03-01']

            temperatura classification
date
2020-01-01         29.1         quente
2020-02-01         31.2   muito quente
2020-03-01         28.5         quente

In [35]:
#acessando o dataframe de acordo com o index e selecionando os dados a ser exibido
df.loc[df.index <= '2020-03-1', ['classification']]

           classification
date
2020-01-01         quente
2020-02-01   muito quente
2020-03-01         quente