In [1]:
#importando o pandas
import pandas as pd

In [2]:
#leitura de dados
df = pd.read_csv("https://pycourse.s3.amazonaws.com/temperature.csv")
df

         date  temperatura classification
0  2020-01-01         29.1         quente
1  2020-02-01         31.2   muito quente
2  2020-03-01         28.5         quente
3  2020-04-01         28.0         quente
4  2020-05-01         24.0    confortavel
5  2020-06-01         20.0           frio

In [5]:
#carregando um arquivo excel com 2 abas
arquivo_excel = pd.ExcelFile("https://pycourse.s3.amazonaws.com/temperature.xlsx")

In [7]:
#leitura da primeira aba
df2 = pd.read_excel(arquivo_excel, sheet_name='Sheet1')
df2

        date  temperatura classification
0 2020-01-01         29.1         quente
1 2020-02-01         31.2   muito quente
2 2020-03-01         28.5         quente
3 2020-04-01         28.0         quente
4 2020-05-01         24.0    confortavel
5 2020-06-01         20.0           frio

In [27]:
#leitura da segunda aba
df3 = pd.read_excel(arquivo_excel, sheet_name='Sheet2')
df3['temperatura'] = df3['temperatura'].str.replace(',','.').astype('float')#alterando os valores com v√≠rgula
df3

        date  temperatura classification
0 2020-01-01         29.1         quente
1 2020-02-01         31.2   muito quente
2 2020-03-01         28.5         quente
3 2020-04-01         28.0         quente
4 2020-05-01         24.0    confortavel
5 2020-06-01         20.0           frio

In [28]:
#visualizando as primeiras linhas
n=3
df.head(n)

         date  temperatura classification
0  2020-01-01         29.1         quente
1  2020-02-01         31.2   muito quente
2  2020-03-01         28.5         quente

In [30]:
#visualizando as tr√™s √∫ltimas linhas
df.tail(n)

         date  temperatura classification
3  2020-04-01         28.0         quente
4  2020-05-01         24.0    confortavel
5  2020-06-01         20.0           frio

In [35]:
#identificando os tipos de dados do dataframe
df.dtypes

date               object
temperatura       float64
classification     object
dtype: object

In [36]:
#exibindo estat√≠sticas b√°sicas
df.describe()

       temperatura
count     6.000000
mean     26.800000
std       4.075782
min      20.000000
25%      25.000000
50%      28.250000
75%      28.950000
max      31.200000

In [37]:
#dataframe info
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 3 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   date            6 non-null      object
 1   temperatura     6 non-null      float64
 2   classification  6 non-null      object
dtypes: float64(1), object(2)
memory usage: 272.0+ bytes

In [39]:
#exibindo o nome das colunas
df.columns

Index(['date', 'temperatura', 'classification'], dtype='object')

In [42]:
#alterando o nome das colunas
df.columns=['Data', 'Temperatura', 'Classifica√ß√£o']

In [43]:
#exibindo o dataframe com as colunas alteradas
df

         Data  Temperatura Classifica√ß√£o
0  2020-01-01         29.1        quente
1  2020-02-01         31.2  muito quente
2  2020-03-01         28.5        quente
3  2020-04-01         28.0        quente
4  2020-05-01         24.0   confortavel
5  2020-06-01         20.0          frio